
/* Formulaires */

/* Date de dernière modification : Mercredi 19 février 2025 */

/* Auteur : Victor Jockin (Grp. 2B) */

.form-container {
    display: flex;
    width: var(--medium-section-width);
}

form {
    display: flex;
    flex-direction: column;
    max-width: var(--medium-section-width);
    width: 100%;
    gap: var(--form-gap);
    font-family: var(--regular-font);
}

.form-fields {
    display: flex;
    flex-direction: column;
    gap: var(--form-fields-gap);
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    display: flex;
}
input, textarea, select {
    appearance: none;
    box-sizing: border-box;
    margin: 0px;
    padding: 0.70rem 1.5rem;
    padding-right: 1.5rem;
    width: 100%;
    min-height: var(--form-element-height);
    border: var(--form-field-border);
    border-radius: var(--elements-border-radius);
    background-color: transparent;
    color: var(--app-text-color);
    font-family: var(--regular-font);
    font-size: var(--body-font-size);
}
textarea {
    resize: none;
}
select {
    background: var(--form-field-background);
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path fill='%23FFFFFF' d='M201.4 374.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 306.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z'/></svg>");
    background-repeat: no-repeat;
    background-position: right 1.675rem center;
    background-size: 0.9rem;
}
input[type="date"]::-webkit-calendar-picker-indicator,
input[type="month"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}
input[type="date"]:hover, input[type="month"]:hover, select:hover {
    background-color: var(--primary-color);
}

input:read-only {
    pointer-events: none;
}

input.primary-style {
    padding-top: 0px;
    padding-bottom: 0px;
    box-sizing: border-box;
    border: var(--form-field-border-primary);
}
input.secondary-style {
    padding-top: 0px;
    padding-bottom: 0px;
    box-sizing: border-box;
    border: var(--form-field-border-secondary);
}

.form-actions {
    display: flex;
    gap: 0.5rem;
}
.form-actions .as-button {
    padding: 0px;
    width: 100%;
}